#node-container-1{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10000;
}

.outer {
  width: 1000px;
  height: 200px;
  background-color: red;
}

.inner {
  position: relative;
  width: 500px;
  height: 150px;
  top: 25px;
  left: 100px;
  background-color: blue;
  color: white;
  cursor: crosshair;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.log {
  position: relative;
  width: 100%;
  text-align: center;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  /* pointer-events: none; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  /* width: 700px !important;
  height: 500px !important; */
}

.App-link:hover {
  color: #359d64
}

.App:hover {
  color: #fb61a9
}

.App-header:hover {
  background-color: #fb61a9 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aim{
  position: fixed;
  /* display: flex; */

  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;


  width: 3%;

  align-items: center;
  text-align: center;
  
  z-index: 1000000;
}

#VRButton{
  border:0.1em solid #383862 !important;
  border-radius:1.42em !important;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace !important;
  color:rgb(54, 53, 95) !important;
  font-weight: bold !important;
  font-size: 1em !important;
  transition: all 0.5s !important;
  
  width: 22% !important;
  left: calc(50% - 11%) !important;
  
  /* margin-bottom: 13% !important; */
  /* padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important; */

  position: fixed !important;
  /* margin: 100px; */


}

#VRButton:hover{
  background-color: #fefefeab !important;
  box-shadow: 0 0 5px #fefefeab !important;
  color:#1e1d35 !important;

  cursor: pointer;
}

